{% load static %} {% block content %}
<style>
  @page {
                size: A4;
                margin: 1cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 9cm;
                    margin-right: 9cm;
                    height: 1cm;
                }
            }
</style>
<style type="text/css">
    body {
        margin-top: 20px;
    }
    
    .bg-light-gray {
        background-color: #f7f7f7;
    }
    
    .table-bordered thead td,
    .table-bordered thead th {
        border-bottom-width: 2px;
    }
    
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }
    
    .table-bordered td,
    .table-bordered th {
        border: 1px solid #dee2e6;
    }
    
    .bg-sky.box-shadow {
        box-shadow: 0px 5px 0px 0px #00a2a7;
    }
    
    .bg-orange.box-shadow {
        box-shadow: 0px 5px 0px 0px #af4305;
    }
    
    .bg-green.box-shadow {
        box-shadow: 0px 5px 0px 0px #4ca520;
    }
    
    .bg-yellow.box-shadow {
        box-shadow: 0px 5px 0px 0px #dcbf02;
    }
    
    .bg-pink.box-shadow {
        box-shadow: 0px 5px 0px 0px #e82d8b;
    }
    
    .bg-purple.box-shadow {
        box-shadow: 0px 5px 0px 0px #8343e8;
    }
    
    .bg-lightred.box-shadow {
        box-shadow: 0px 5px 0px 0px #d84213;
    }
    
    .bg-sky {
        background-color: #02c2c7;
    }
    
    .bg-orange {
        background-color: #e95601;
    }
    
    .bg-green {
        background-color: #5bbd2a;
    }
    
    .bg-yellow {
        background-color: #f0d001;
    }
    
    .bg-pink {
        background-color: #ff48a4;
    }
    
    .bg-purple {
        background-color: #9d60ff;
    }
    
    .bg-lightred {
        background-color: #ff5722;
    }
    
    .padding-15px-lr {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .padding-5px-tb {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .margin-10px-bottom {
        margin-bottom: 10px;
    }
    
    .border-radius-5 {
        border-radius: 5px;
    }
    
    .margin-10px-top {
        margin-top: 10px;
    }
    
    .font-size14 {
        font-size: 14px;
    }
    
    .text-light-gray {
        color: #d6d5d5;
    }
    
    .font-size13 {
        font-size: 13px;
    }
    
    .table-bordered td,
    .table-bordered th {
        border: 1px solid #dee2e6;
    }
    
    .table td,
    .table th {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
</style>
<div style="display:flex;margin-left:20%">
    <h2>
        Time Table of Faculty Member "{{ teacher }}"
    </h2>
  </div>
<!--<div class="timetable-img text-center">-->
<!--  <img src="img/content/timetable.png" alt="" />-->
<!--</div>-->
<div>
  <table class="table table-bordered text-center">
    <thead>
      <tr class="bg-light-gray">
        <th class="text-uppercase">Time</th>
        <th class="text-uppercase">Monday</th>
        <th class="text-uppercase">Tuesday</th>
        <th class="text-uppercase">Wednesday</th>
        <th class="text-uppercase">Thursday</th>
        <th class="text-uppercase">Friday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="align-middle">08:30am - 10:am</td>
        {% for time in table.0 %} {% if time != "" %}

        <td>
          <span
            class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13"
            >{{time.0}}</span
          >
          <div class="margin-10px-top font-size14">Semester: {{time.1}}</div>
          <div class="font-size13 text-gray">
            Room: {{time.3}} ({{time.2}})
          </div>
        </td>
        {% else %}
        <td class="bg-light-gray"></td>
        {% endif %} {% endfor %}
      </tr>
      <tr>
        <td class="align-middle">10:00am - 11:30am</td>
        {% for time in table.1 %} {% if time != "" %}

        <td>
          <span
            class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13"
            >{{time.0}}</span
          >
          <div class="margin-10px-top font-size14">Semester: {{time.1}}</div>
          <div class="font-size13 text-gray">
            Room: {{time.3}} ({{time.2}})
          </div>
        </td>
        {% else %}
        <td class="bg-light-gray"></td>
        {% endif %} {% endfor %}
      </tr>
      <tr>
        <td class="align-middle">11:30am - 01:00pm</td>
        {% for time in table.2 %} {% if time != "" %}

        <td>
          <span
            class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13"
            >{{time.0}}</span
          >
          <div class="margin-10px-top font-size14">Semester: {{time.1}}</div>
          <div class="font-size13 text-gray">
            Room: {{time.3}} ({{time.2}})
          </div>
        </td>
        {% else %}
        <td class="bg-light-gray"></td>
        {% endif %} {% endfor %}
      </tr>
      <tr>
        <td class="align-middle">01:00pm - 02:30pm</td>
        {% for time in table.3 %} {% if time != "" %}

        <td>
          <span
            class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13"
            >{{time.0}}</span
          >
          <div class="margin-10px-top font-size14">Semester: {{time.1}}</div>
          <div class="font-size13 text-gray">
            Room: {{time.3}} ({{time.2}})
          </div>
        </td>
        {% else %}
        <td class="bg-light-gray"></td>
        {% endif %} {% endfor %}
      </tr>
      <tr>
        <td class="align-middle">02:30pm - 04:00pm</td>
        {% for time in table.4 %} {% if time != "" %}

        <td>
          <span
            class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13"
            >{{time.0}}</span
          >
          <div class="margin-10px-top font-size14">Semester: {{time.1}}</div>
          <div class="font-size13 text-gray">
            Room: {{time.3}} ({{time.2}})
          </div>
        </td>
        {% else %}
        <td class="bg-light-gray"></td>
        {% endif %} {% endfor %}
      </tr>
      <tr>
        <td class="align-middle">04:00pm - 05:30pm</td>
        {% for time in table.5 %} {% if time != "" %}

        <td>
          <span
            class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13"
            >{{time.0}}</span
          >
          <div class="margin-10px-top font-size14">Semester: {{time.1}}</div>
          <div class="font-size13 text-gray">
            Room: {{time.3}} ({{time.2}})
          </div>
        </td>
        {% else %}
        <td class="bg-light-gray"></td>
        {% endif %} {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

<script></script>
{% endblock content %}